.portfolio {
  padding: 130px 0;
  text-align: center;
}

.portfolio-inner {
  @include inner;
}

.portfolio-list {
  display: flex;
  margin-bottom: 120px;
  margin-left: -30px;
  margin-right: -30px;
  list-style: none;
}

.portfolio-title {
  @include section-title;
  margin-bottom: 97px;
}

.portfolio-item {
  flex-basis: 25%;

}

.portfolio-card {
  position: relative;
  margin: 0 $gap-half;
}

.portfolio-item-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  background-color: rgba($color-dark, .4);
}
