.promo {
  padding: 200px 0 214px;
  text-align: center;
  background-image: url(/images/promo-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  @media (max-width: $tablet-max) {
    padding: 180px 0 190px;
  }

  @media (max-width: $mobile-max) {
    padding: 110px 0 120px;
  }
}

.promo-inner {
  @include inner;
}

.promo-title {
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }

  .btn {
    padding: 0;
  }
}
